*.suo
*.snk
*.pfx
/.vs
/.vscode
*/bin
*/obj
*.exe
*.exe.config
*.log
*.pdb
*.db
*.swp
*.dms
*.ust
*.score.ini
*.DotSettings.user
*.bs1770gain.xml
/packages
/Test/*/songlist.json
/Test/*/Capture_img
/Test/*/Config.ini
/Test/*/bs1770gain**
/Test/*/FDK*
/Test/*/*.dll
/Test/*/*.so
/Test/*/*.html
/Test/*/TJAPlayer3*
/Test/*/runtimes/
/Test/*/Songs/
/Test/*/ref/
/Test/*/System/*Style*